@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(114, 113, 113);
	border-radius: 10px;
	height: 200px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}


/* gradient animation bg */
.gradient-animation {
	background: linear-gradient(135deg, #e90924, #e23480, #9a35b8, #0c68ac, #2aac6e, #eadf2b);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* end gradient animation bg */

/* glass */
.glass {
	background: linear-gradient(135deg,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.1));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* end glass */

/* loading */
.spinner-loader {
	width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#F4F4F4 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#F4F4F4);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:load-animation 1s infinite linear;
  }
  @keyframes load-animation {
	100%{transform: rotate(1turn)}
  }
/* end loading */
